nav{
  display: flex;
  width: 100%;
  height: 100%;
  .img{
    background-image: url(https://t4.ftcdn.net/jpg/04/78/04/91/360_F_478049110_xRICKKmjXOeRgtQGxhzhrUFnSfKfDFoL.jpg);
    background-position: center;
    background-size: 200%;
    width: 100px;
    height: 50px;
    cursor: pointer;
  }
  ul{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    width: 87%;
    height: 100%;
    a{
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Space Grotesk", sans-serif;
      font-optical-sizing: auto;
      font-size: 14px;
      font-style: normal;
      box-shadow: rgba(50, 50, 93, 0.336) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      background-color: rgb(176, 208, 238);
      border-radius: 10px;
      width: 50px;
      height: 25px;
      color: white;
    }
  }
}