.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url(/src/pics/a\ majestic\ hero\ stan.png);
  background-position: center;
  background-size: 100%;
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 50%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(176, 208, 238);
    input{
      border-radius: 5px;
      border: none;
      width: 250px;
      height: 30px;
    }
    input::placeholder{
      color: rgba(20, 20, 20, 0.911);
      font-family: "Space Grotesk", sans-serif;
      font-optical-sizing: auto;
      font-size: 12px;
      padding: 5px;
      font-style: normal;
    }
  }
}