.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .card {
    display: flex;
    width: 100%;
    .card-body {
      
    }
 }
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  .pagination{
    li{
      cursor: pointer;
    }
  }
}
