header{
  width: 100%;
  height: 50px;
  background-color: rgba(75, 162, 212, 0.747);
}

main{
  width: 100%;  
}

footer{
  width: 100%;
  height: 50px;
  background-color: rgba(75, 162, 212, 0.747);
}